# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Distribution
build/
dist/
*.egg-info/

# Test & Coverage
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/